* {
    margin: 0;
    padding: 0;
}

body {
    background-attachment: fixed;
    background-image: url('../assets/img/body-bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: -webkit-linear-gradient(0deg, #e6658799 0%, #f0945899 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.box-naveg {
    width: 75%;
    height: 10vh;
    background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 96px;
}

.box-men {
    width: 98%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.icon-men {
    color: #ffffff;
    font-size: 1.4em;
}

.box-page {
    width: 75%;
    background-color: #ffffff;
}

.home {
    width: 100%;
    height: 90vh;
    background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pre-title {
    color: #ffffff;
    font-size: 0.875em;
}

.title {
    color: #ffffff;
    font-size: 2.25em;
    margin-top: 0.5em;
}

.click {
    width: 12vw;
    height: 6vh;
    background-color: transparent;
    border: 0.0625em solid #ffffff;
    border-radius: 20px;
    font-size: 0.875em;
    color: #ffffff;
    margin-top: 2.5em;
    cursor: pointer;
}

.arrow {
    width: 3%;
    margin-left: 0.7em;
}

.box-one {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-fig {
    width: 4vw;
    height: 8vh;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-fig {
    font-size: 1.2em;
}

.text-fig {
    width: 16vw;
    font-size: 1.1em;
}

.box-two {
    width: 100%;
    height: 120vh;
    background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-services {
    font-size: 1.5em;
    color: #ffffff;
}

.text-serv {
    font-size: 0.875em;
    color: #ffffff;
    margin-top: 1.2em;
}

.box-img-services {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
}

.container-service {
    width: 18vw;
    height: 22vh;
}

.box-photo {
    width: 20vw;
    height: 10vh;
}

.photo {
    width: 60%;
}

.box-tree {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-works {
    font-size: 1.5em;
}

.sub-title {
    font-size: 0.875em;
}

.container-slide {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    width: 38vw;
    height: 58vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-photo {
    width: 38vw;
    height: 48vh;
}

.controls {
    width: 60%;
    height: 0.4vh;
    background-color: #dad6d6;
}

.story {
    width: 100%;
    height: 74vh;
    background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-over {
    width: 100%;
    height: 74vh;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-text-buttom {
    width: 36vw;
    height: 48vh;
    border-radius: 3px;
    background-color: #ffffff;
}

.click2 {
    width: 12vw;
    height: 6vh;
    border-radius: 20px;
    border-style: none;
    background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    font-size: 0.875em;
    color: #ffffff;
}

.box-title-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo-story {
    width: 50%;
    height: 100%;
    background-image: url('../assets/img/story-bg.jpg');
    background-position: 44%;
}

.container-news {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Container-final {
    width: 75%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-final-one {
    width: 100%;
    height: 50vh;
}

.box-final-two {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.25);
}