* {
    margin: 0;
    padding: 0;
}

body {
    background-attachment: fixed;
    background-image: url('../assets/img/body-bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: -webkit-linear-gradient(0deg, #e6658799 0%, #f0945899 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.box-naveg {
    width: 75%;
    height: 10vh;
    background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 96px;
}

.box-men {
    width: 98%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.icon-men {
    color: #ffffff;
    font-size: 1.4em;
}

.box-page {
    width: 75%;
    background-color: #ffffff;
}

.home {
    width: 100%;
    height: 90vh;
    background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
}

.box-one {
    width: 100%;
    height: 60vh;
}

.box-two {
    width: 100%;
    height: 90vh;
    background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
}

.box-tree {
    width: 100%;
    height: 90vh;
}

.re {
    width: 100%;
    height: 90vh;
    background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
}

.rhr {
    width: 100%;
    height: 60vh;
}

.Container-final {
    width: 75%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-final-one {
    width: 100%;
    height: 50vh;
}

.box-final-two {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.25);
}