* {
    margin: 0;
    padding: 0;
}

body {
    background-attachment: fixed;
    background-image: url('../assets/img/body-bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: -webkit-linear-gradient(0deg, #e6658799 0%, #f0945899 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.box-naveg {
    width: 75%;
    height: 10vh;
    background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 96px;
}

.box-men {
    width: 98%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.icon-men {
    color: #ffffff;
    font-size: 1.4em;
}

.box-page {
    width: 75%;
    background-color: #ffffff;
}

.home {
    width: 100%;
    height: 90vh;
    background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pre-title {
    color: #ffffff;
    font-size: 0.875em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.title {
    color: #ffffff;
    font-size: 2.25em;
    margin-top: 0.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.click {
    width: 12vw;
    height: 6vh;
    background-color: transparent;
    border: 0.0625em solid #ffffff;
    border-radius: 20px;
    font-size: 0.875em;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin-top: 2.5em;
    cursor: pointer;
}

.arrow {
    width: 3%;
    margin-left: 0.7em;
}

.box-one {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-visuals, .box-code, .box-ponctuality, .box-Address, .box-Email, .box-Phone {
    width: 22vw;
    height: 13vh;
    display: flex;
    flex-wrap: wrap;
}

.container-fig {
    width: 4vw;
    height: 8vh;
    border-radius: 3px;
    border: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.baloon {
    background: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
}

.code {
    background: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6em;
}

.clock {
    background: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.9em;
}

.title-fig {
    font-size: 0.9em;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-left: 1.5em;
}

.text-fig {
    width: 16vw;
    font-size: 0.9em;
    margin-left: 5.2em;
    color: #777777;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.box-two {
    width: 100%;
    height: 140vh;
    background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-services {
    font-size: 1.5em;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 2em;
}

.text-serv {
    font-size: 0.875em;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.box-img-services {
    width: 100%;
    height: 102vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3em;
}

.container-service {
    width: 18vw;
    height: 50.8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.box-photo {
    width: 18vw;
    height: 23.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo {
    width: 90%;
}

.title-service {
    width: 16vw;
    height: 5vh;
    font-size: 0.9em;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
}

.text-service {
    width: 16vw;
    font-size: 0.9em;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.box-tree {
    width: 100%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.box-texts {
    width: 19vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-works {
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 2em;
}

.sub-title {
    font-size: 0.875em;
    color: #777777;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.container-slide {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    width: 38vw;
    height: 67vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-photo {
    width: 34vw;
    height: 48vh;
}

.title-illustration {
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 2em;
}

.text-illustration {
    font-size: 0.9em;
    width: 28vw;
    color: #777777;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.text-illustration2 {
    font-size: 0.9em;
    width: 28vw;
    color: #777777;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
}

.controls {
    width: 60%;
    height: 0.4vh;
    background-color: #dad6d6;
}

.story {
    width: 100%;
    height: 74vh;
    background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-over {
    width: 100%;
    height: 74vh;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-text-buttom {
    width: 36vw;
    height: 48vh;
    border-radius: 3px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-txt-buttom {
    width: 22vw;
    height: 32vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-beginning {
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.text-beginning {
    width: 21vw;
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #777777;
}

.click2 {
    width: 12vw;
    height: 6vh;
    border-radius: 20px;
    border-style: none;
    background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    font-size: 0.875em;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.box-title-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-story {
    width: 46%;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.sub-title-story {
    font-size: 0.88em;
    display: flex;
    justify-content: center;
    width: 38%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #ffffff;
}

.photo-story {
    width: 50%;
    height: 100%;
    background-image: url('../assets/img/story-bg.jpg');
    background-position: 44%;
}

.container-news {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-newsletter {
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.sub-title-newsletter {
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #777777;
}

.input-button {
    margin-top: 3em;
}

.submit {
    background-color: #f9f9ff;
    width: 34vw;
    height: 7.4vh;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.enter {
    width: 17.4vw;
    height: 4vh;
    border-style: none;
    background-color: #f9f9ff;
    margin-left: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.Container-final {
    width: 75%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-final-one {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-fig2 {
    width: 4vw;
    height: 8vh;
    border: 1px solid #ffffff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbtack {
    color: #ffffff;
    font-size: 1.6em;
    transform: rotate(40deg);
}

.globe {
    color: #ffffff;
    font-size: 1.8em;
}

.phone {
    color: #ffffff;
    font-size: 1.7em;
}

.title-fig2 {
    font-size: 0.9em;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #ffffff;
    margin-left: 1.5em;
}

.text-fig2 {
    width: 17vw;
    font-size: 0.9em;
    display: flex;
    justify-content: flex-start;
    margin-left: 3em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #ffffff;
    margin-left: 5.2em;
}

.box-final-two {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.final-logo {
    margin-left: 1em;
}

.box-icons-final {
    width: 12vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.final-text {
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #ffffff;
}

.far {
    color: #e66686;
}

.link {
    text-decoration: none;
    color: #e66686;
}

.facebook, .twitter, .dribbble, .behance {
    width: 2.4vw;
    height: 4vh;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}