* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../assets/img/body-bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}