*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  height: 90vh;
  margin: 0 auto;
}

/* Navigation Custom Styles */
.tns-outer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.tns-horizontal.tns-subpixel>.tns-item {
  display: flex;
}

.tns-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 0.3vh;
  margin: .5rem 0;
  background-color: #dad6d6;
  margin-top: 3em;
}

.tns-nav > button {
  width: 11px;
  height: 11px;
  margin: 0 8px;
  border: 1px solid #dad6d6;

  outline: none;
  border-radius: 50%;
  background: #dad6d6;
}

.tns-controls {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;

  pointer-events: none;

  transform: translateY(-50%);
}

.tns-controls > button:first-child,
.tns-controls > button:last-child {
  width: 90px;
  height: 90px;
  border: none;
  outline: none;

  pointer-events: auto;

  background: url('./icons/arrow.svg');
  background-size: contain;
}

.tns-controls > button:last-child {
  transform: rotate(180deg);
}